@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
	--editor-color: rgb(250,250,250);
	--editor-border-color: rgb(240, 240, 240);
}

body *{
	font-family: 'Nunito', sans-serif;
	color: black;
	white-space: pre-wrap;
	word-wrap: break-word;
}

body{
	transition: 0.5s;
	margin: 0;
}

button{
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.075);
	border: none;
	transition: 0.2s;
}

button:hover{
	background: rgba(0,0,0,0.1);
}

.nospace{
	padding: 0;
	margin: 0;
}

.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}